<%layout("/layouts/boilerplate")-%>
<body>
    <section class="hero">
        <h1>Find Your Perfect Stay, Anywhere.</h1>
        <p>Discover unique homes and cozy stays around the world. Book your next trip with ease, comfort, and confidence.</p><br>
        <h4><a class="explore-btn" href="/listings">Explore more &rarr;</a></h4>
    </section>
</body>